# **lambda()**

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword. Hence, anonymous functions are also called lambda functions.

Lambda function can use any quantity of parameter, but only have one expression

Syntax: lambda argument: manipulate(argument)

In [ ]:
add_one = lambda x: x+1
add_sum = lambda x, y: x+y

print(add_one(2))
print(add_sum(5, 5))

3
10

# MAP()

map() function 

simple syntax: map(func, iterable)

parameter: func is an function that map() pass to the every elements in the iterable object, the iterable is an object that has __iter__ attribute, so every elements can execute the func

return value: a map object

Assume we have a list that contain 1 - 5 digits, we want to every number add 1, **before map() function**, most likely we will do this:

In [ ]:
numbers = [1, 2, 3, 4, 5]
for i in range(0, len(numbers)):
    numbers[i] += 1
print(numbers)

[2, 3, 4, 5, 6]

**After map() function:**

In [ ]:
def add_one(n):
    return n+1

numbers = [1, 2, 3, 4, 5]
result = map(add_one, numbers)
print(result)
print(type(result))
print(list(result))

<map object at 0x7fe88d3bbc10>
<class 'map'>
[2, 3, 4, 5, 6]

Notice the beauty of map(), **Loops eliminated** in an efficient and simple way. 
The map() function will return a map object. 
This object type will help us to **save the memory utilization**, we use the **getsizeof() function** from sys to see the memory utilization of each object, **map object and list**.

In [ ]:
from sys import getsizeof
print(f'The size of map object in memory is {getsizeof(result)} bytes')
print(f'Convert it into list: {getsizeof(list(result))} bytes')

The size of map object in memory is 48 bytes
Convert it into list: 56 bytes

The requirement of object to passed in map() function is iterable so as long as the object has attribute of __iter__ it works, **not only list, but also tuple**, such as:

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(f"Is tuple numbers iterable? Answer: {hasattr(numbers, '__iter__')}")

result = map(add_one, numbers)
print(result)
print(type(result))
print(tuple(result))

Is tuple numbers iterable? Answer: True
<map object at 0x7fe891eece50>
<class 'map'>
(2, 3, 4, 5, 6)

**Usage of lambda**

In [ ]:
numbers = (1, 2, 3, 4, 5)
result = map(lambda x: x + 1, numbers)
print(tuple(result))

(2, 3, 4, 5, 6)

In [ ]:
# list of strings
words = ['Singapore', 'Guangzhou', 'Tokyo']

# convert every elements in the array into List
converted = list(map(list, words))
print(converted)
print(f"The type of converted: {type(converted)}")
print(f"The lenght of converted: {len(converted)}")

[['S', 'i', 'n', 'g', 'a', 'p', 'o', 'r', 'e'], ['G', 'u', 'a', 'n', 'g', 'z', 'h', 'o', 'u'], ['T', 'o', 'k', 'y', 'o']]
The type of converted: <class 'list'>
The lenght of converted: 3

words is a list that contain string type of elements, we can use map() and Python bulit-in list to convert every elements in words into List, but do take note, every elements must have __iter__ attribute, otherwise, it will raise TypeError, such as int type:

In [ ]:
numbers = [3, '23', 42]
print(list(map(list, numbers)))

TypeError: ignored

Can be avoided by the following way

In [ ]:
numbers = [3, '23', 42]
print(list(map(float, numbers)))

[3.0, 23.0, 42.0]

In [ ]:
university = [{'name': 'NYU', 
               'city': 'New York'}, 
              {'name': 'NUS', 
               'city': "Singapore"}]

names = list(map(lambda x: x['name'], university))
print(names)

['NYU', 'NUS']

# **filter()**

filter() function is using a function to "filter" the sequence, the function is going to examinate every elements in the sequence is True or False


filter() syntax: filter(func, iterable)

Parameter: func test iterable sequances' elements is True or False, iterable is the iterable sequances that been filter

Return value: an iterable sequance that every elements is True to the filter function func

Layman term: filter() is to filter a set of data based on the given conditions

In [ ]:
# filter vowel
def func(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable.lower() in letters):
        return True
    else:
        return False

# given sequance
sequance = ['I', 'l', 'o', 'v', 'e', 'p', 'y', 't', 'h', 'o', 'n']

filtered = list(filter(func, sequance))
print(f"The vowel in the sequance is {filtered}")

The vowel in the sequance is ['I', 'o', 'e', 'o']

So, how to use filter() function is quite simple:


1.   Define a method that can filter out True or False

2.   Apply it to iterable object

3.   Integrate it into your bigger code block

In [ ]:
# odd number
odd_number = filter(lambda x: x % 2, numbers)
print(f"The odd number is {list(odd_number)}.")

# even number
even_number = filter(lambda x: x % 2 == 0, numbers)
print(f"The even number is {list(even_number)}.")

# positive number
positive_number = filter(lambda x: x > 0, numbers)
print(f"The positive number is {list(positive_number)}.")

The odd number is [1, -3, 5, 9].
The even number is [-20, 0, 12].
The positive number is [1, 5, 9, 12].

In [ ]:
university = [{'name': 'NYU', 
               'city': 'New York'}, 
              {'name': 'NUS', 
               'city': "Singapore"}]

names = list(filter(lambda x: x['name'] == 'NUS', university))
print(names)

[{'name': 'NUS', 'city': 'Singapore'}]