In [ ]:
nums = [4, 2, 8, 23.4, 8, 9, 545, 9, 1, 234.001, 5, 49, 8, 9 , 34, 52, 1, -2, 9.1, 4]
nums = nums[1:4] + nums[5:]
print(nums)

[2, 8, 23.4, 9, 545, 9, 1, 234.001, 5, 49, 8, 9, 34, 52, 1, -2, 9.1, 4]

In [ ]:
rv = """Once upon a midnight dreary, while I pondered, weak and weary,
    Over many a quaint and curious volume of forgotten lore,
    While I nodded, nearly napping, suddenly there came a tapping,
    As of some one gently rapping, rapping at my chamber door.
    'Tis some visitor, I muttered, tapping at my chamber door;
    Only this and nothing more."""

# Write your code here!
count = 0
for char in rv:
    count += 1
num_chars = count
print(num_chars)

348

In [ ]:
julia = ("Julia", "Roger", 1967, "Duplicity", 2009, "Actress", "Atlantic")
print(julia[2])
print(julia[2:6])

print(len(julia))

julia = julia[:3] + ("Eat pray Love", 2010) + julia[5:]
print(julia)

1967
(1967, 'Duplicity', 2009, 'Actress')
7
('Julia', 'Roger', 1967, 'Eat pray Love', 2010, 'Actress', 'Atlantic')

NESTED DATA

In [ ]:
nested1 = [['a', 'b', 'c'],['d', 'e'],['f', 'g', 'h']]
print(nested1[0])
print(len(nested1))
nested1.append(['i'])
print("-------")
for L in nested1:
    print(L)

['a', 'b', 'c']
3
-------
['a', 'b', 'c']
['d', 'e']
['f', 'g', 'h']
['i']

In [ ]:
nested1 = [['a', 'b', 'c'],['d', 'e'],['f', 'g', 'h']]
y = nested1[1]
print(y)
print(y[0])

print([10, 20, 30][1])
print(nested1[1][0])

['d', 'e']
d
20
d

In [ ]:
nested2 = [{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': "yes"}]

#write code to print the value associated with key 'c' in the second dictionary (90)

print(nested2[1]['c'])

#write code to print the value associated with key 'b' in the third dictionary

print(nested2[2]['b'])

#add a fourth dictionary add the end of the list; print something to check your work.

nested2.append({'d':5, 'e':9,'r':56})
print(nested2)

#change the value associated with 'c' in the third dictionary from "yes" to "no"; print something to check your work

nested2[2]['c'] = 'no'
print(nested2)

90
3
[{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': 'yes'}, {'d': 5, 'e': 9, 'r': 56}]
[{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': 'no'}, {'d': 5, 'e': 9, 'r': 56}]

In [ ]:
def square(x):
    return x*x

L = [square, abs, lambda x: x+1]

print("****names****")
for f in L:
    print(f)

print("****call each of them****")
for f in L:
    print(f(-2))

print("****just the first one in the list****")
print(L[0])
print(L[0](3))

****names****
<function square at 0x7f20b8ebae50>
<built-in function abs>
<function <lambda> at 0x7f20b8ebac10>
****call each of them****
4
2
-1
****just the first one in the list****
<function square at 0x7f20b8ebae50>
9

In [ ]:
animals = [['cat', 'dog', 'mouse'], ['horse', 'cow', 'goat'], ['cheetah', 'giraffe', 'rhino']]

idx1 = animals[1][0]

In [ ]:
data = ['bagel', 'cream cheese', 'breakfast', 'grits', 'eggs', 'bacon', [34, 9, 73, []], [['willow', 'birch', 'elm'], 'apple', 'peach', 'cherry']]

plant = data[7][0][0]
print(plant)

willow

In [ ]:
d = {'key1': {'a': 5, 'c': 90, 5: 50}, 'key2':{'b': 3, 'c': "yes"}}


     

d[5] = {1:2,3:4}


     

d['key1']['d'] = d['key2']
print(d)

{'key1': {'a': 5, 'c': 90, 5: 50, 'd': {'b': 3, 'c': 'yes'}}, 'key2': {'b': 3, 'c': 'yes'}, 5: {1: 2, 3: 4}}

In [ ]:
info = {'personal_data':
         {'name': 'Lauren',
          'age': 20,
          'major': 'Information Science',
          'physical_features':
             {'color': {'eye': 'blue',
                        'hair': 'brown'},
              'height': "5'8"}
         },
       'other':
         {'favorite_colors': ['purple', 'green', 'blue'],
          'interested_in': ['social media', 'intellectual property', 'copyright', 'music', 'books']
         }
      }
color = info['personal_data']['physical_features']['color']
print(color)

{'eye': 'blue', 'hair': 'brown'}

NESTED ITERATIONS

In [ ]:
nested1 = [['a', 'b', 'c'],['d', 'e'],['f', 'g', 'h']]
for x in nested1:
    print("level1: ")
    for y in x:
        print("     level2: " + y)

level1:
     level2: a
     level2: b
     level2: c
level1:
     level2: d
     level2: e
level1:
     level2: f
     level2: g
     level2: h

In [ ]:
def count_leaves(n):
    count = 0
    for L in n:
        count += 1
    return count

In [ ]:
info = [['Tina', 'Turner', 1939, 'singer'], ['Matt', 'Damon', 1970, 'actor'], 
        ['Kristen', 'Wiig', 1973, 'comedian'], ['Michael', 'Phelps', 1985, 'swimmer'], 
        ['Barack', 'Obama', 1961, 'president']]

last_names = []
for lst in info:
    last_names.append(lst[1])
last_names

['Turner', 'Damon', 'Wiig', 'Phelps', 'Obama']

In [ ]:
# 3. Below, we have provided a list of lists named L. Use nested iteration to save every 
# string containing “b” into a new list named b_strings.


L = [['apples', 'bananas', 'oranges', 'blueberries', 'lemons'], 
     ['carrots', 'peas', 'cucumbers', 'green beans'], 
     ['root beer', 'smoothies', 'cranberry juice']]

b_strings = []
for lst in L:
    for word in lst:
        if 'b' in word:
            b_strings.append(word)
b_strings

['bananas',
 'blueberries',
 'cucumbers',
 'green beans',
 'root beer',
 'cranberry juice']

STRUCTURING NESTED DATA

In [ ]:
nested1 = [1, 2, ['a', 'b', 'c'],['d', 'e'],['f', 'g', 'h']]
for x in nested1:
    print("level1: ")
    for y in x:
        print("     level2: {}".format(y))

level1:

TypeError: ignored

In [ ]:
# We can solve this with special casing, a conditional that checks the type.

nested1 = [1, 2, ['a', 'b', 'c'],['d', 'e'],['f', 'g', 'h']]
for x in nested1:
    print("level1: ")
    if type(x) is list:
        for y in x:
            print("     level2: {}".format(y))
    else:
        print(x)

level1:
1
level1:
2
level1:
     level2: a
     level2: b
     level2: c
level1:
     level2: d
     level2: e
level1:
     level2: f
     level2: g
     level2: h

DEEP AND SHALLOW COPIES

In [ ]:
original = [['dogs', 'puppies'], ['cats', "kittens"]]
copied_version = original[:]
print(copied_version)
print(copied_version is original)
print(copied_version == original)
original[0].append(["canines"])
print(original)
print("-------- Now look at the copied version -----------")
print(copied_version)

[['dogs', 'puppies'], ['cats', 'kittens']]
False
True
[['dogs', 'puppies', ['canines']], ['cats', 'kittens']]
-------- Now look at the copied version -----------
[['dogs', 'puppies', ['canines']], ['cats', 'kittens']]

In [ ]:
original = [['dogs', 'puppies'], ['cats', "kittens"]]
copied_outer_list = []
for inner_list in original:
    copied_inner_list = []
    for item in inner_list:
        copied_inner_list.append(item)
    copied_outer_list.append(copied_inner_list)
print(copied_outer_list)
original[0].append(["canines"])
print(original)
print("-------- Now look at the copied version -----------")
print(copied_outer_list)

[['dogs', 'puppies'], ['cats', 'kittens']]
[['dogs', 'puppies', ['canines']], ['cats', 'kittens']]
-------- Now look at the copied version -----------
[['dogs', 'puppies'], ['cats', 'kittens']]

In [ ]:
# Or , equivalently, you could take advantage of the slice operator to do the copying 
# of the inner list.

original = [['dogs', 'puppies'], ['cats', "kittens"]]
copied_outer_list = []
for inner_list in original:
    copied_inner_list = inner_list[:]
    copied_outer_list.append(copied_inner_list)
print(copied_outer_list)
original[0].append(["canines"])
print(original)
print("-------- Now look at the copied version -----------")
print(copied_outer_list)

[['dogs', 'puppies'], ['cats', 'kittens']]
[['dogs', 'puppies', ['canines']], ['cats', 'kittens']]
-------- Now look at the copied version -----------
[['dogs', 'puppies'], ['cats', 'kittens']]

In [ ]:
import copy
x = [0, 1, [2, 3]]
x_assign = x                       
x_copy = x.copy()              
x_deepcopy = copy.deepcopy(x) 
x[1] = 100
x[2][0] = 200
print(x)
print(x_assign)
print(x_copy)
print(x_deepcopy)

[0, 100, [200, 3]]
[0, 100, [200, 3]]
[0, 1, [200, 3]]
[0, 1, [2, 3]]

In [ ]:
def square(x):
    return x*x

L = [square, abs, lambda x: x+1]

print("****names****")
for f in L:
    print(f)

print("****call each of them****")
for f in L:
    print(f(-2))

print("****just the first one in the list****")
print(L[0])
print(L[0](3))

****names****
<function square at 0x7f20b8eba0d0>
<built-in function abs>
<function <lambda> at 0x7f20b8eba820>
****call each of them****
4
2
-1
****just the first one in the list****
<function square at 0x7f20b8eba0d0>
9